<%- include('./partials/header'); -%>
<body style="background-color:#FCAEAE;">

<h1><%= title %></h1>
   <p><%= content %></p>
   <p><b>Written By:- <%= name %> </b></p>
    <p><i><%= time %></i></p>

   </body>

   
